PORT=3001
NODE_ENV=development
JWT_SECRET=sbop_super_secret_jwt_security_key_2026_d1_r2

CLOUDFLARE_D1_DATABASE_NAME=d1sbop
CLOUDFLARE_D1_DATABASE_ID=413b2fe9-b280-4a1b-81ac-cb20f9e41935

CLOUDFLARE_R2_BUCKET_NAME=r2sbop
CLOUDFLARE_R2_PUBLIC_URL=https://bfdba11ba88cafd6f064809c2fe29b99.r2.cloudflarestorage.com/r2sbop
CLOUDFLARE_R2_ENDPOINT=https://bfdba11ba88cafd6f064809c2fe29b99.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=SBOP Safety Notification <safety-noreply@sbop.com>
